body {
    font-family: arial,sans-serif;
    margin: 0;
    background: #FFF;
    color: #222;
}

a {
	text-decoration: none;
    color: #555;
    font-size: 13px;
}

a:hover {
	text-decoration: underline;
}

.wrapper {
    text-align: center;
    margin: auto;
    padding: 1rem 2rem;
}

.link_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link_list li {
    padding: 10px;
}

#menu {
    float: right;
}

#menu li {
    float: right;
}

#left_footer_links {
    float: left;
}

#left_footer_links li {
    float: left;
}

#right_footer_links {
    float: right;
}

#right_footer_links li {
    float: right;
}

.spacer {
    clear: both;
}

#search_bar {
    margin: 2rem 0;
    border: 1px solid #EAEAEA;
    width: 50%;
    display: inline-block;
}

.search_buttons {
    color: #757575;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    padding: 10px;
    font-weight: bold;
}

.search_buttons:hover {
    color: #000;
    background: #FAFAFA;
    border: 1px solid #CCC;
}

#search_bar_input {
    float: left;
    width: 90%;
}

#search_bar_input input{
    width: 90%;
    padding: 1em;
    float: right;
    border: 0;
}

#search_bar_voice {
    overflow: hidden;
    line-height: 0;
}

#search_bar_voice_icon {
    padding: 1em;
    display: inline-block;
}

#search_bar_voice_icon img {
    width: 12px;
    height: auto;
    display: block;
}

textarea:focus, input:focus{
    outline: none;
}