body {
    font-family: arial,sans-serif;
    margin: 0;
    background: #FFF;
    color: #222;
}

a {
	text-decoration:none;
    color: #222;
    font-size: 13px;
}

a:hover {
	text-decoration:underline;
}

.wrapper {
    text-align: center;
}

.link_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu {
    float: right;
}

#menu li {
    float: right;
}

#left_footer_links {
    float: left;
}

#left_footer_links li {
    float: left;
}

#right_footer_links {
    float: right;
}

#right_footer_links li {
    float: right;
}

.spacer {
    clear: both;
}